<div class="text-center jumbotron">
  <h1>InstaKeep</h1>
  <h3>Where you can save your favorite Instagram pictures and video!!</h3>
  <br/>
  <br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %><br><br>
  <%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %>
</div>
