<div class="page-header">
  <%= link_to pictures_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New picture</h1>
</div>

<div>
<%= image_tag @picture["data"][(params[:id].to_i)]["images"]["standard_resolution"]["url"] %>
</div>


